<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>获取邮箱页面</title>
    <link href="./css/datadisplay.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
    <h1>应届生邮箱</h1>
    <div id="regular-emails" class="J-regular-email item-container">

        <% for(var i=0; i<data.regular.length; i++) {%>
            <tr>
                <td><%= data.regular[i].email %>;</td>
            </tr>
        <% } %>
    </div>
    <button id="copy-regular-emails" data-clipboard-target="#regular-emails">copy regular emails</button>
    <button class="add-flag-btn regular">add sent flag in db(Regular)</button>

    <h1>实习生邮箱</h1>
    <div id="intern-emails" class="J-intern-email item-container">

        <% for(var i=0; i<data.intern.length; i++) {%>
            <tr>
                <td><%= data.intern[i].email %>;</td>
            </tr>
        <% } %>
    </div>
    <button id="copy-intern-emails" data-clipboard-target="#intern-emails">copy intern emails</button>
    <button class="add-flag-btn intern">add sent flag in db(Intern)</button>


</body>
<script type="text/javascript">
</script>
<script type="text/javascript" src="./js/lib/zepto.js"></script>
<script type="text/javascript" src="./js/lib/toast.js"></script>
<script type="text/javascript" src="./js/lib/clipboard.min.js"></script>
<script type="text/javascript" src="./js/email.js"></script>
</html>