<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>美团点评内推</title>
    <link href="./css/form.css" rel="stylesheet" type="text/css" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7d0a48405821394ed17a13e77cd785d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
<form id="form1" name="form1" class="J_form" method="post" action="postdata" >
    <h1>美团点评2018届校招内推</h1>
    <div class="basicInfo">
        <!--  应届生 or 实习生
        <div class="inputDiv radioGourp">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <span>
                <label>
                    <input class="J_stuType J_regular" type="radio" name="workType" value="regular" checked><span>应届生</span>
                </label>

                <label>
                    <input class="J_stuType" type="radio" name="workType" value="intern"><span>实习生</span>
                </label>
            </span>
        </div>
        -->
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/name.png">
            </div>
            <div class="gap"></div>
            <input placeholder="被推荐人姓名" value="" name="name" class="J_name">
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/mobile.png">
            </div>
            <div class="gap"></div>
            <input placeholder="电话号码" value="" name="phone" class="J_phone">
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/email.png">
            </div>
            <div class="gap"></div>
            <input placeholder="电子邮箱" value="" name="email" class="J_email">
        </div>
        <!--毕业院校
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <input placeholder="毕业学校" value="" name="school" class="J_school">
        </div>
        -->
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <select class="J_Group" placeholder="推荐事业群" name="interestGroupId">
                <option class="groupDefault" value="0">推荐事业群</option>
                <option value="0">都喜欢</option>
                <option value="2">餐饮平台</option>
                <option value="3">点评平台及综合事业群</option>
                <option value="4">广告平台</option>
                <option value="5">技术工程及基础数据平台</option>
                <option value="6">金融服务平台</option>
                <option value="7">美团平台及酒旅事业群</option>
                <option value="8">客服平台部</option>
                <option value="10">企业平台</option>
            </select>
        </div>
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <select class="J_Job" placeholder="推荐事业群" name="jobId">
                <!-- 技术研发 -->
                <option data-regularId='0' class="groupDefault">应聘岗位</option>
                <option data-regularId='9016' >Android开发工程师—厦门</option>
                <option data-regularId='9015' >IOS开发工程师—厦门</option>
                <option data-regularId='9014' > 数据库开发工程师-厦门</option>
                <option data-regularId='9013' > 测试开发工程师-厦门</option>
                <option data-regularId='9012' >机器学习/数据挖掘算法工程师-厦门</option>
                <option data-regularId='9010' > Web前端开发工程师-厦门</option>
                <option data-regularId='8979' >SRE工程师-上海,北京</option>
                <option data-regularId='8972' >运维开发工程师-北京</option>
                <option data-regularId='8973' >运维开发工程师-上海</option>
                <option data-regularId='9009' > 数据库开发工程师-上海</option>
                <option data-regularId='9008' > 后台开发工程师-厦门</option>
                <option data-regularId='8987' >机器学习／数据挖掘算法工程师-北京</option>
                <option data-regularId='8955' >Web前端开发工程师-北京</option>
                <option data-regularId='8978' >运筹优化研发工程师-北京</option>
                <option data-regularId='8951' >后台开发工程师—上海</option>
                <option data-regularId='8975' >数据库开发工程师-北京</option>
                <option data-regularId='8966' >iOS开发工程师-深圳</option>
                <option data-regularId='8967' >Android开发工程师-北京</option>
                <option data-regularId='8962' >iOS开发工程师-北京</option>
                <option data-regularId='8971' >Android开发工程师-深圳</option>
                <option data-regularId='8980' >测试开发工程师-北京</option>
                <option data-regularId='8984' >测试开发工程师-深圳</option>
                <option data-regularId='8961' >Web前端开发工程师-深圳</option>
                <option data-regularId='8956' >Web前端开发工程师-上海</option>
                <option data-regularId='8988' >机器学习／数据挖掘算法工程师-上海</option>
                <option data-regularId='8950' >后台开发工程师—北京</option>
                <option data-regularId='8968' >Android开发工程师-上海</option>
                <option data-regularId='8954' >后台开发工程师-深圳</option>
                <option data-regularId='8986' >自然语言处理开发工程师-上海</option>
                <option data-regularId='8963' >iOS开发工程师-上海</option>
                <option data-regularId='8981' >测试开发工程师-上海</option>
                <option data-regularId='8985' >自然语言处理开发工程师-北京</option>
                <option data-regularId='8970' >Android开发工程师-成都</option>
                <option data-regularId='8953' >后台开发工程师-成都</option>
                <option data-regularId='8983' >测试开发工程师-成都</option>
                <option data-regularId='8960' >Web前端开发工程师-成都</option>
                <option data-regularId='8965' >iOS开发工程师-成都</option>
                <option data-regularId='8974' >安全工程师-上海,北京</option>

                <!-- 产品策划 -->
                <option data-regularId='9011' >助理产品经理—厦门</option>
                <option data-regularId='8989' >助理产品经理-北京</option>
                <option data-regularId='8990' >助理产品经理-上海</option>

                <!-- 运营 -->
                <option data-regularId='8992' >产品运营专员-北京</option>
                <option data-regularId='8994' >产品运营专员-厦门</option>
                <option data-regularId='8993' >产品运营专员-上海</option>

                <!-- 设计 -->
                <option data-regularId='9003' >视觉设计师-上海,北京</option>
                <option data-regularId='9002' >营销设计师-上海,北京</option>
                <option data-regularId='9001' >交互设计师-上海,北京</option>
                <option data-regularId='8997' >用户研究员-北京</option>

                <!-- 商业分析 -->
                <option data-regularId='9007' > 商业分析专员-上海</option>
                <option data-regularId='8995' >商业分析专员-北京</option>

                <!-- 其他 -->
            </select>
        </div>
    </div>
    <div class="errorMessage hide J_error"></div>
    <div class="outer">
        <a href="javascript:;" type="submit" class="btn-next J_submit">提交</a>
    </div>
</form>
<div class="recom-success hide"><!-- hide -->
    <div class="recom-tip">
        <div class="recom-img recom-successImg"></div>
        <span>信息提交成功<!-- ，只差最后一步！ --></span>
        <p>我们将在三个工作日内进行内推，敬请留意后续短信、邮件通知。</p>
        <!--
            <p>请将文章<a href="http://dwz.cn/5lGZ7N">《内推 | 美团点评·2017年春季校招》(可点击)</a>分享到微信群或朋友圈，并截图回复给公众号，即可收到内推邮件与短信</p>
        -->
    </div>
</div>

<script type="text/javascript" src="./js/lib/zepto.js"></script>
<script type="text/javascript" src="./js/lib/toast.js"></script>
<script type="text/javascript" src="./js/form.js"></script>

</body>
</html>
