<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>百度实习生内推</title>
    <link href="./css/form-baidu.css" rel="stylesheet" type="text/css" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7d0a48405821394ed17a13e77cd785d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>

<h1>“校招黑马”百度2017年实习生内推</h1>

<form id="form1" name="form1" class="J_form" method="post" action="postdata" >
    <div class="basicInfo">
        <div class="form-item">
            <span class="item-title text-justify">姓&nbsp名</span>
            <input value="" name="name" class="J-name">
        </div>
        <div class="form-item">
            <span class="item-title">手机号码</span>
            <input value="" name="phone" class="J-phone">
        </div>
        <div class="form-item">
            <span class="item-title">常用邮箱</span>
            <input value="" name="email" class="J-email">
        </div>
        <div class="form-item">
            <span class="item-title">就读学校</span>
            <input value="" name="school" class="J-school">
        </div>

        <div class="form-item">
            <div class="item-select-double">
                <span class="item-title text-justify">学 历</span>
                <select class="J-degree" name="degree">
                    <option data-degree='201'>本科</option>
                    <option data-degree='202'>硕士</option>
                    <option data-degree='203'>博士</option>
                    <option data-degree='204'>其他</option>
                </select>
            </div>
            <div class="item-select-double">
                <span class="item-title">毕业时间</span>
                <select class="J-graduate-time" name="graduateTime">
                    <option data-graduate-time='301'>2017</option>
                    <option data-graduate-time='302'>2018</option>
                    <option data-graduate-time='303'>2019</option>
                    <option data-graduate-time='304'>其他</option>
                </select>
            </div>
        </div>
        <div class="form-item item-select">
            <span class="item-title">应聘岗位</span>
            <select class="J-job" name="jobId">
                <option data-regularId='2001' data-internId='1001' class="J-job-default">应聘岗位</option>
                <option data-regularId='2002' data-internId='1002'>前端开发实习生</option>
                <option data-regularId='2003' data-internId='1003'>PHP研发实习生</option>
                <option data-regularId='2004' data-internId='1004'>C++研发实习生</option>
                <option data-regularId='2005' data-internId='1005'>Java研发实习生</option>
                <option data-regularId='2006' data-internId='1006'>Java研发实习生</option>
                <option data-regularId='2007' data-internId='1007'>深度学习算法实习生</option>
                <option data-regularId='2008' data-internId='1008'>大数据研发实习生</option>
                <option data-regularId='2009' data-internId='1009'>机器学习实习生</option>
                <option data-regularId='2010' data-internId='1010'>招聘方向实习生</option>
                <option data-regularId='2011' data-internId='1011'>feed广告优化实习生</option>
                <option data-regularId='2012' data-internId='1012'>组织发展实习生</option>
                <option data-regularId='2013' data-internId='1013'>风险管理实习生</option>
                <option data-regularId='2014' data-internId='1014'>教育信贷风险管理实习生</option>
            </select>
        </div>

        <div class="textarea-item">
            <p class="item-title">应聘理由<span>(选填)</span></p>
            <p class="note"><span class="attention-icon">*</span>申请理由会作为筛选标准之一。如：1. ACM拿到手软；2. 论文达人；3.google实习大神；言简意赅即可，限140字以内。</p>
            <textarea value="" name="reason" class="J-reason"></textarea>
        </div>
    </div>

    <div class="error-message hide J-error"></div>
    <div class="form-submit">
        <a href="javascript:;" type="submit" class="submit-btn J-submit">提交</a>
    </div>
</form>
<div class="icon-group">
    <div class="icon icon-qr-code">
        <!-- <img src="../public/icon/icon.png"/> -->
    </div>
    <div class="icon icon-logo"></div>
    <p>长按识别二维码，关注“校招黑马”公众号</p>
    <p>不再错过你喜欢的OFFER！</p>
</div>
<div class="recom-success hide">
    <div class="recom-tip">
        <div class="recom-processImg"></div>
        <span>信息提交成功，只差最后一步！</span>
        <p>请将文章<a href="http://dwz.cn/5lGZ7N">《内推 | 美团点评·2017年春季校招》(可点击)</a>分享到微信群或朋友圈，并截图回复给公众号，即可收到内推邮件与短信</p>
    </div>
</div>

<script type="text/javascript" src="./js/lib/zepto.js"></script>
<script type="text/javascript" src="./js/lib/toast.js"></script>
<script type="text/javascript" src="./js/form-baidu.js"></script>

</body>
</html>
