<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>美团点评内推</title>
    <link href="./css/form.css" rel="stylesheet" type="text/css" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7d0a48405821394ed17a13e77cd785d";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
<form id="form1" name="form1" class="J_form" method="post" action="postdata" >
    <div class="basicInfo">
        <div class="inputDiv radioGourp">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <span>
                <label>
                    <input type="radio" name="workType" value="regular" checked><span>应届生</span>
                </label>
                
                <label>
                    <input type="radio" name="workType" value="intern"><span>实习生</span>
                </label>
            </span>
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/name.png">
            </div>
            <div class="gap"></div>
            <input placeholder="被推荐人姓名" value="" name="name" class="J_name">
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/mobile.png">
            </div>
            <div class="gap"></div>
            <input placeholder="电话号码" value="" name="phone" class="J_phone">
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/email.png">
            </div>
            <div class="gap"></div>
            <input placeholder="电子邮箱" value="" name="email" class="J_email">
        </div>

        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <input placeholder="毕业学校" value="" name="school" class="J_school">
        </div>
        
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <select class="J_Group" placeholder="推荐事业群" name="interestGroupId">
                <option class="groupDefault" value="1">推荐事业群</option>
                <option value="1">都喜欢</option>
                <option value="2">餐饮平台</option>
                <option value="3">点评平台及综合事业群</option>
                <option value="4">广告平台</option>
                <option value="5">技术工程及基础数据平台</option>
                <option value="6">金融服务平台</option>
                <option value="7">美团平台及酒旅事业群</option>
                <option value="8">客服平台部</option>
                <option value="10">企业平台</option>
            </select>
        </div>
        <div class="inputDiv">
            <div class="iconDiv">
                <img class="icon" src="./icon/group.png">
            </div>
            <div class="gap"></div>
            <select class="J_Job" placeholder="推荐事业群" name="jobId">
                <option class="groupDefault">应聘岗位</option>
                <option data-regularId='8387' data-internId='8388'>自然语言处理开发工程师</option>
                <option data-regularId='8380' data-internId='8381'>数据开发工程师</option>
                <option data-regularId='8383' data-internId='8384'>测试开发工程师</option>
                <option data-regularId='8385' data-internId='8389'>机器学习/数据挖掘算法工程师</option>
                <option data-regularId='8372' data-internId='8373'>后台开发工程师</option>
                <option data-regularId='8378' data-internId='8379'>Android开发工程师</option>
                <option data-regularId='8376' data-internId='8377'>iOS开发工程师</option>
                <option data-regularId='8374' data-internId='8375'>Web前端开发工程师</option>  
            <!-- 实习生多招的岗位 -->
                <option class="only-intern hide" data-internId='8436'>运维工程师</option>
           <!-- 应届生多招的岗位 -->
                <option class="only-regular" data-regularId='8454'>财务专员</option>

            <!-- 不招
                <option value="7129">大数据平台开发工程师（2017届）</option>
                <option value="7082">安全工程师（2017届）</option>
                <option value="7081">运维工程师（2017届）</option>
                <option value="7109">系统工程师 （2017届）</option>
                <option value="7091">助理产品经理（2017届）</option>
                <option value="7085">商业分析专员（2017届）</option>
                <option value="7092">产品运营专员（2017届）</option>
            -->
            </select>
        </div>
    </div>
    <div class="errorMessage hide J_error"></div>
    <div class="outer">
        <a href="javascript:;" type="submit" class="btn-next J_submit">提交</a>
    </div>
</form>
<div class="recom-success hide">
    <div class="recom-tip">
        <div class="recom-sucImg"></div>
        <span>信息提交成功，只差最后一步！</span>
        <p>请将公众号点评美团内推文章分享到微信群或朋友圈，并截图回复给公众号，即可完成内推</p>
    </div>
</div>

<script type="text/javascript" src="./js/lib/zepto.js"></script>
<script type="text/javascript" src="./js/lib/toast.js"></script>
<script type="text/javascript" src="./js/form.js"></script>

</body>
</html>
