<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Eragon的网站</title>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?716389b86b14fa0344444a0399c62ceb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <h2>Hi，你好，这里是Eragon的网站 :)</h2>
    <p>想要联系我可以发邮件到：278362241@qq.com</p>
</body>
</html>



