<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>内推分享</title>
    <link href="./css/process.css" rel="stylesheet" type="text/css" />

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?716389b86b14fa0344444a0399c62ceb";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="recom-process">
        <div class="recom-tip">
            <div class="recom-processImg"></div>
            <span>分享内容完成内推</span>
        </div>
        
        <div class="share-content">
            <p>将以下内推信息 分享到 朋友圈、班级群或校园bbs，并截图上传，图片通过审核后，即可完成内推:</p>
            <p>美团点评校招内推啦~内推简历免筛选，内推笔试未通过还可参加校招笔试。内推链接：http://dwz.cn/41E5Sz</p>
        </div>

    <form action="/upload" enctype="multipart/form-data" method="post" class="outer">
        <a href="javascript:;" class="btn-next a-upload select-module">选择图片
            <input class="J-input-select-img input-select-img" type="file" name="upload" multiple="multiple" value="选择图片">
        </a>
        <input id="textName" type="text" class="J-upload-img-name upload-img-name select-module" disabled /> 
 

        <a href="javascript:;" class="a-submit btn-next">上传
            <input class="J_submit submit-btn" type="submit" value="上传">
        </a>
        
    </form>
    <script type="text/javascript" src="./js/lib/zepto.js"></script>
    <script type="text/javascript" src="./js/lib/toast.js"></script>
    <script type="text/javascript" src="./js/share.js"></script>
    </div>
</body>
</html>



