<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>新美大校招内推</title>
    <link href="./css/process.css" rel="stylesheet" type="text/css" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?716389b86b14fa0344444a0399c62ceb";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="recom-success">
        <div class="recom-tip">
            <div class="recom-sucImg"></div>
            <span>已成功提交信息</span>
            <p>1~2天内，推荐邮件会发送至被推荐人邮箱</p>
            <p>候选人收到推荐邮件后，还需完善简历，才算完成内推</p>
        </div>
    </div>
</body>
</html>



