<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>新美大校招内推</title>
</head>
<body>
    <!-- 这是我的测试页面 -->
    <p>用户来源:<%= data.referer %></p>
    <p>user-agent:<%= data['user-agent'] %></p>

<script type="text/javascript" src="./js/lib/zepto.js"></script>
<script type="text/javascript" src="./js/test.js"></script>    

</body>
</html>
